*{
    margin: 0;
}
.hdf{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul{
    display: flex;
    gap: 50px;
    list-style: none;
    margin-left: -150px;
    font-size: 22px;
    font-weight: 600;
    color: #545454;
}
.vi{
    width: 200px;
}
.header{
    padding-left: 20px;
    padding-right: 20px;
}
.sec1{
    padding-left: 20px;
    padding-right: 20px;
}
.sec2{
    padding-left: 20px;
    padding-right: 20px;
}
.sec3{
    padding-left: 20px;
    padding-right: 20px;
}
.can{
    padding-top: 20px;

}   
.btn{
    padding: 10px 20px;
    background-color: #1F1F1F;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.in{
    font-size: 120px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 20px;
    position: absolute;
    
}
.step{
    font-size: 24px;
    color: #545454;
    font-weight: 500;
    width: 640px;
    line-height: 125%;
    font: Inter;
    margin-bottom: 50px;
    margin-top: 230px;
}
.yuz{
    color: #545454;
    font-size: 70px;
    font-weight: 400;
}

.eki{
    color: #545454;
    font-size: 22px;
    font-weight: 400;
}
.dfds{
    display: flex;
    gap: 50px;
}
.imgh1{
    width: 600px;
    margin-left: 200px;
}
.imgh2{
    width: 700px;
}
.df{
    display: flex;
}
.sec1{
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.sec1 .btn{
    margin-bottom: 50px;
}
.our{
    font-size: 58px;
    font-weight: 600;
    color: #1F1F1F;
    margin-top: 120px;
    margin-bottom: 90px;
    margin-left: 100px;

}
.box{
    display: flex;
    gap: 20px;
}
.ligh{
    color: #1F1F1F;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}
.ach{
    font-size: 22px;
    color: #545454;
    font-weight: 500;
    width: 300px;
}
.k{
    margin-top: -65px;
    width: 70px;
}
.sd{
    display: flex;
    gap: 50px;
    margin-left: 100px;
}
.kj{
    width: 700px;
}
.kjj{
    width: 800px;
    height: 700px;
}
.dffd{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}
.de{
    font-size: 58px;
    font-weight: 600;
    color: #1F1F1F;
    width: 599px;
}
.de1{
    font-size: 58px;
    font-weight: 600;
    color: #1F1F1F;
    width: 599px;
    margin-left: 600px;
    position: absolute;
}
.el{
    font-size: 24px;
    color: #545454;
    font-weight: 500;
    width: 660px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.el1{
    font-size: 24px;
    color: #545454;
    font-weight: 500;
    width: 480px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ko4{
    width: 700px;
    margin-top: 50px;
}
.sec2 .btn{
    margin-top: 70px;
}
.btn1{
    margin-top: 100px;
    padding: 10px 20px;
    background-color: #1F1F1F;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: block;
}
.st{
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.st1{
    font-size: 30px;
    font-weight: 700;
    margin-top: 70px;
}
.s3{
    width: 1200px;
}
.sec3{
    margin-top: 300px;
}
.sub{
    font-size: 58px;
    font-weight: 600;
    text-align: center;
    width: 770px;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.be{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    width: 700px;
    margin-left: 300px;
    margin-top: 50px;
}
.footer{
    background-color: #1E1E1E;
    color: white;
    padding: 70px 70px;
    display: flex;
    gap: 100px;
    padding-top: 130px;
}
.visa{
    font-size: 22px;
    font-weight: 600;
    color: #D1D1D1;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
} 
.ul1{
    display: flex;
    gap: 150px;
    list-style: none;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}
.ded{
    width: 257px;
    margin-left: 30px;
}
.ul2{
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    color: #D1D1D1;
    margin-top: 20px;
    list-style: 120%;
    line-height: 150%;
}
.dffdd{
    display: flex;
    gap: 75px;
}
.c5{
    width: 1500px;
    margin-bottom: -190px;
}